{% extends 'rango/base.html' %}
{% load static %}


{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1> About Rango<h1>

    <h2>Links</h2>
        <ul>
            <li><a href="{% url 'rango:index' %}">Home</a></li>
            <li><a href="{% url 'rango:about' %}}">About</a></li> 
        </ul>

            <!-- Data and such-->
            <div class="row" id=page_data">
                <div class="col-md-4">

                </div>

                <div class="col-md-4">
                    <h2>Dead Oaks</h2>
                </div>

                <div class="col-md-4">
                    <h2>The Cat Image They Wanted Posted</h2>
                    <img src="{{ MEDIA_URL }}cat.jpeg" alt="There should be a cat here"/>
                </div>
            </div>

            <!-- Book Requirement-->
            <div class="row">
                <h2>This tutorial has been put together by {{ my_name }}</h2>
                <img src="{% static 'images/Rango.jpg' %}"
            </div>

            </div>
        </div>
{% endblock %}