<!-- creates a menu that makes the category we're currently looking at bold.
     so this is basically a navbar template. -->

<ul>
    {% for c in categories %}
        {% if c == current_category %}
        <li>
        <strong>
            <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
        </strong>
        </li>
        {% else %}
        <li>
            <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>