{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.name}}
    {% else %}
        Unknown category
    {% endif %}

{% endblock %}


{% block body_block %}

    {% if category %}
        <h1>{{category.name}}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li> <a href="{% url 'rango:show_category' category.slug  %}">{{page.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        the specific category does not exist. 
    {% endif %}

{% endblock %}